
# Byte-compiled
**/__pycache__/
**/*.pyc
**/*.pyo
**/*/__pycache__
**/*/__pycache__/
**/__pycache__/**
**/*.pyc/**
**/*.pyo/**


#pycharm framework
.idea/

# Environments
venv
.venv
venv/
ENV/
venv.bak/

ArcData_*.json
log*.log
